{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="row bs-wizard" style="border-bottom:0; padding-left: 0%">
    <div class="col-xs-2 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center non-mobile-friendly">Citizenship</div>
    </div>

    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center non-mobile-friendly">Register Information</div>
    </div>

    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 3</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      {% if request.path == "/registration_scout/" %}
      <div class="bs-wizard-info text-center non-mobile-friendly">Scout Information</div>
      {% elif request.path == "/registration_volunteer/" %}
      <div class="bs-wizard-info text-center non-mobile-friendly">Volunteer Information</div>
      {% endif %}
    </div>

    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 4</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      {% if request.path == "/registration_scout/"%}
      <div class="bs-wizard-info text-center non-mobile-friendly">Workshop Selection</div>
      {% elif request.path == "/registration_volunteer/" %}
      <div class="bs-wizard-info text-center non-mobile-friendly">Event Selection</div>
      {% endif %}
    </div>
    {% if request.path == "/registration_scout/"%}
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 5</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center non-mobile-friendly">Payment</div>
    </div>

    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
    
      <div class="text-center bs-wizard-stepnum">Step 6</div>
    {% elif request.path == "/registration_volunteer/" %}
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
    
      <div class="text-center bs-wizard-stepnum">Step 5</div>
    {% endif %}
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center non-mobile-friendly">Confirmation</div>
    </div>
    
  </div>
</div>

{% for field in form %}
  {{field.error}}
{% endfor %}
{% endblock %}
