{% load staticfiles %}
{% block content %}
<div class="container-fluid scoutbadge" id="scoutbadge" style="position: relative">
  <!-- Medical -->
  <!-- TODO: MAKE DYNAMIC -->
  {% if scout.medical_note or scout.allergy_note %}
    <div class="badge-top-left" id="medical">M</div>
  {% endif %}
  <!-- Photo -->
  <!-- TODO: MAKE DYNAMIC -->
  {% if scout.photo %}
    <div class="badge-top-right" id="noPhoto">P</div>
  {% endif %}
  <div class="badge-center">
    <!-- TODO: MAKE DYNAMIC -->
    <font size="6">{{scout.first_name}} {{scout.last_name}}</font>
  </div>
  <div class="badge-bottom-left" id="qrcode"></div>
  <div class="badge-bottom-right" id="classes">
    <!-- TODO: MAKE DYNAMIC -->
    <p>
      {{ workshop_AM.course_name}}
      <br>
      {{ workshop_PM.course_name }}
    </p>
  </div>
</div>
<br>
<button class="btn btn-primary btn-lg" id="savebadge">Download Badge</button>
{% if request.user.is_superuser %}
  <button class="btn btn-primary btn-lg" id="savebadge">Email Badge</button>
{% endif %}

<script type="text/javascript" src="{% static '/js/jquery.qrcode.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jspdf.debug.js' %}"></script>
<script type="text/javascript" src="{% static '/js/html2canvas.js' %}"></script>
<script>
  jQuery('#qrcode').qrcode({
    render	: "canvas",
    //TODO: MAKE DYNAMIC
    text	: "http://54.152.243.242:8000/scouts/",
    width: 85,
    height: 85
  });

  $( document ).ready(function() {
    $('#savebadge').click(function () {
      html2canvas($("#scoutbadge"), {
        background :'#FFFFFF',
        onrendered: function(canvas) {
            // canvas is the final rendered <canvas> element
            var imgData = canvas.toDataURL("image/jpeg");
            var pdf = new jsPDF();

            pdf.addImage(imgData, 'JPEG', 10, 10);
            pdf.save("scoutbadge.pdf");
        }
      });
    });
  });
</script>
{% endblock %}
