{% load staticfiles %}
{% block content %}

{% include "sedUI/includes/makebadge.html" %}
<br>
<button class="btn btn-primary btn-lg" id="savebadge">Download Badge</button>

<script type="text/javascript" src="{% static '/js/jspdf.debug.js' %}"></script>
<script type="text/javascript" src="{% static '/js/html2canvas.js' %}"></script>
<script>
  $( document ).ready(function() {
    $('#savebadge').click(function () {
      var pdf = new jsPDF();
      var fullNameImg;
      html2canvas($("#scoutbadgeFullName"), {
        background :'#FFFFFF',
        onrendered: function(canvas) {
            // canvas is the final rendered <canvas> element
            fullNameImg = canvas.toDataURL("image/jpeg");
        }
      });
      html2canvas($("#scoutbadge"), {
        background :'#FFFFFF',
        onrendered: function(canvas) {
            // canvas is the final rendered <canvas> element
            var badgeImg = canvas.toDataURL("image/jpeg");
            pdf.addImage(badgeImg, 'JPEG', 10, 10);
            pdf.addImage(fullNameImg, 'JPEG', 10, 10 + canvas.height/3.78); // The 3.78 is the ratio from canvas size to pdf
            pdf.save("scoutbadge.pdf");
        }

      });

    });
  });
</script>
{% endblock %}
