{% extends "sedUI/base/header.html" %} {% load staticfiles %} {% block content %} {% if aboutPage %}
<div class="container">
	<div class="container">
		<div class="jumbotron">
			<h2 style="text-align: center; font-size: 32pt;">Scout Engineering Day</h2>
			<p align="center" style="color:blue; font-size:200%;">
				Save the Date!
				<br> {{aboutPage.saveDate}}
				<br> 8:15am - 5:00pm
				<br> in
				<br> {{aboutPage.eventLocation}}
			</p>
			<p style="text-align: center;">
				Registration opens on {{aboutPage.registrationOpenDate}} at {{aboutPage.registrationOpenTime}}
			</p>
			<br>
		</div>
		<div class="jumbotron">
			<h2 style="text-align: center; font-size: 32pt;">Lunch</h2>
			<p style="text-align: center;">

				Lunch will be provided at the event (Snacks and water)
				<br> ** Please provide your own snacks, if your child has any food allergies. **
			</p>
		</div>
		<div class="jumbotron">
			<h2 style="text-align: center; font-size: 32pt;">Courses Offered at Scout Engineering Day</h2>
			<br>
			<div class="container-fluid ul-links" style="margin: 0 auto; width: 80%">
				{% if all_courses %}
				<div class="left-float ul-links">
					{% for course in left_items %} {% if course.course_name != "None"%}
					<li>
						<a class="blackLink" href="/course_detail/{{course.course_id}}"> {{course.course_name}} </a>
					</li>
					{% endif %} {% endfor %}
				</div>
				<div class="right-float ul-links">
					{% for course in right_items %} {% if course.course_name != "None"%}
					<li>
						<a class="blackLink" href="/course_detail/{{course.course_id}}"> {{course.course_name}} </a>
					</li>
					{% endif %} {% endfor %}
				</div>
				{% else %}
				<h4> You don't have any courses </h4>
				{% endif %}
			</div>
			<br>
			<div class="container-fluid" style="margin: 0 auto; width: 80%">
				{% if isOpen == "Opened" or user.is_authenticated %}
				<a align="center" class="btn btn-primary btn-lg" href="/registration_scout/" role="button">Register Scouts Now!</a>
				{% elif isOpen == "ForcedClosed" %}
				<h4 align="center">Registration is down for maintance</h4>
				{% else %} {% include "sedUI/includes/registrationClosed.html" %} {% endif %}
			</div>
		</div>
		<div class="jumbotron">
			<div class="container-fluid">
				<h2>Location of Scout Engineering Day</h2>
				<h4>{{aboutPage.locationMap}}</h4>
				<style>
					#map {
						width: 100%;
						height: 500px;
					}
				</style>
				<style>
					#inst {
						width: 100%;
					}
				</style>
				<div>
					<div id="map"></div>
					<div id="inst">
						<p>
							<h3>Parking Insturctions</h3>
							{{aboutPage.parkingLocation}} click <a target="_blank" href="http://www.mitre.org/sites/default/files/pdf/mclean-campus-map.pdf">here</a>.
							<br>
							<br>
							<h3>Check In Location</h3>
							{{aboutPage.checkingLocation}}
							<br>
							<br>
						</p>
						<a class="btn btn-primary btn-lg" href="https://www.google.com/maps/dir//The+MITRE+Corporation,+7515+Colshire+Dr,+McLean,+VA+22102-7538,+USA/@38.9216266,-77.2402652,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89b64ac62ab07a31:0xca4476fe38cf7bc7!2m2!1d-77.20516!2d38.9216319"
						 target="_blank" role="button">Get Directions</a>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container-fluid">
				<h2 style="text-align: center; font-size: 32pt;">Who run the workshops?</h2>
				<p>
					Workshops are run by men and women engineers and scientists who are employees of The MITRE Corporation
					 or who work in STEM fields in the local DC area. Many are also local Girl and Boy Scout leaders. All
					 adult volunteers have received youth protection training through the Girl Scout or Boy Scout councils.
				</p>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container-fluid">
				<h2 style="text-align: center; font-size: 32pt;">What kind of activities will we do?</h2>
				<p>
					Scout Engineering Day is not a "sit and listen" event. In these workshops you will be learning,
					making, exploring, creating, and brainstorming. For example, past participants in the Game Design
					workshop have worked in teams to create brand new games, and then invited scouts from other workshops
					to test and rate their creations. Scouts in the Composite Materials workshop explored the properties
					of a variety of natural and man-made materials and then created useful items out of them to take home.
					In the Robotics workshop, scouts used Lego First Robotics kits to create machines that work and move.
					While you are learning and doing, you will have the opportunity to find out about careers in these fields
					by interacting with local engineers and scientists who specialize in this work.
				</p>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container-fluid">
				<h2 style="text-align: center; font-size: 32pt;">Additional Information:</h2>
				<p>
					<ul>
						<li>Scouts are encouraged to complete some suggested pre-requisite activities before attending
							(see link above or click HERE for a list of this year's prerequisites). Girl Scouts are not required  to complete
							pre-requisites, but are encouraged to do so, if they can. (Additional links for sample worksheets for the Electricity and
							Energy prerequisites.)</li>
						<li>Scouts must be dropped off and picked up by a parent, guardian, or scout leader.</li>
						<li>The event is open for scouts who will be 11 or older by the time of the event.</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="jumbotron">
			<div class="container-fluid">
				<h2 style="text-align: center; font-size: 32pt;">Who is <a href="https://www.mitre.org/">The MITRE Corporation</a></h2>
				<p>
					</br>
					The MITRE Corporation’s mission-driven team is dedicated to solving problems for a safer world. We are a not-for-profit company that operates multiple federally funded research and development centers (FFRDCs).
					</br></br>
					At MITRE, we work across the whole of government, through our FFRDCs and public-private partnerships, to tackle difficult problems that challenge the safety, stability and well-being of our nation. Our unique vantage point allows us to provide innovative, practical solutions for some of our nation's most critical challenges in defense and intelligence, aviation, civil systems, homeland security, the judiciary, healthcare, and cybersecurity.
				</p>

			</div>
		</div>

		<script>
			function myMap() {
				var myCenter = new google.maps.LatLng(38.9216319, -77.20516);
				var mapCanvas = document.getElementById("map");
				var mapOptions = { center: myCenter, zoom: 13, scrollwheel: false };
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({ position: myCenter });
				marker.setMap(map);
			}
		</script>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXhUi4Rr6tydsw9jIbfs4k7rLOlxt4-hA&callback=myMap">
		</script>
	</div>
	{% else %}
	<p> Error with About Page Data </p>

</div>
{% endif %} {% endblock %}
