{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container" >
    <h2 class="form-signin-heading">Thank you for contacting us, we will be sending you an email with our response.</h2>
    {% if request.path != "/contactConfirmation/" %}
    <div>
      <p>Username: {{register.register_sui}}</p>
      <p>Passcode: {{register.register_code}}</p>
      <p style="color: red"><b><i>Please use this username and passcode when registering</i></b></p>
    </div>
  {% endif %}
  </div>
{% endblock %}
