{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}
	<div class="container">
		<div class="well well-sm">
			<p class="courseName"><b>{{course.course_name}}</b></p>
			<!-- TODO Make this Instructor -->
			<p><i>Instructor: {{instructor2.instructor_first_name}} {{instructor2.instructor_last_name}}</i></p>
			<p>{{course.course_description}}</p>
			<br>
			<p>
				<a class="btn btn-primary btn-sm" href="/registration/" role="button">Register</a>
			</p>
		</div>
	</div>
{% endblock %}
