{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}
  <div align="center">
    <button class="btn btn-primary btn-lg donotprint" onclick="PrintWindow()">Print Badges</button>
    <!-- <button class="btn btn-primary btn-lg" id="savebadges">Download Badges</button> -->
    <h2 class="section-to-only-print"> This page is left intentionally blank <h4>
  </div>
    {% for key,values in data.items %}
      {% if forloop.counter0|divisibleby:6 %}
        <div class="page-break">
        <br>
      {% endif %}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="left-float" align="right" style="padding: 0;">
      {% else %}
        <div class="right-float" align="left" style="padding: 0;">
      {% endif %}

        <div class="container-fluid scoutbadge section-to-print" id="scoutbadge{{v.scout_id}}" style="position: relative; margin-left: 5px; margin-right: 5px;">
          {% for k,v in values.items %}
            {% if k == "scout" %}
              <!-- Medical -->
              {% if v.scout_medical or v.scout_allergy %}
                <div class="badge-top-left" id="medical">M</div>
              {% endif %}
              <!-- Photo -->
              {% if v.scout_photo == False %}
                <div class="badge-top-right" id="noPhoto">P</div>
              {% endif %}
              <div class="badge-center">
                <font size="6">{{v.scout_first_name}} {{v.scout_last_name|slice:"1"}}.</font><br/>
                <font size="5">ID: {{v.scout_id}}</font>
              </div>
              <div class="badge-bottom-left" id="qrcode{{v.scout_id}}"></div>

              <script type="text/javascript" src="{% static '/js/jquery.qrcode.min.js' %}"></script>
              <script>jQuery('#qrcode{{v.scout_id}}').qrcode({
                  render  : "canvas",
                  text  : location.protocol + '//' + location.hostname + (location.port ? ':' + location.port: '') + "/scout_detail/{{ v.scout_id }}",
                  width: 85,
                  height: 85
                });
              </script>
            {% endif %}
            <div class="badge-bottom-right">
              <p>
              {% if k == "session"%}
                {% if v %}
                  Open Ceremony - {{ v.open_ceremony }}
                {% endif %}
              {% endif %}
              </p>
              <br>
              <p>
              {% if k == "workshop_1"%}
                {% if v %}
                  {{ v }}
                {% endif %}
              {% endif %}
              </p>
              <br>
              <p>
              {% if k == "workshop_2" %}
                {% if v %}
                  {{ v }}
                {% endif %}
              {% endif %}
              </p>
            </div>

          {% endfor %}
        </div>
        {% for k,v in values.items %}
          {% if k == "scout" %}
            <div class="container-fluid scoutbadgeFullName section-to-print" id="scoutbadgeFullName{{v.scout_id}}" style="position: relative; margin-left: 5px; margin-right: 5px;">
              <h4 align="center">{{v.scout_first_name}} {{v.scout_last_name}}</h4>
            </div>
          {% endif %}
        {% endfor %}
      {% if forloop.counter0|divisibleby:6 %}
        </div>
      {% endif %}
      </div>
    {% endfor %}



  <script type="text/javascript" src="{% static '/js/jspdf.debug.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/html2canvas.js' %}"></script>
  <script>
    function PrintWindow() {
      window.print();
    }
    $( document ).ready(function() {

      {% for key,values in data.items %}
        $('#savebadges').click(function () {
          html2canvas($("#img0"), {
            background :'#FFFFFF',
            onrendered: function(canvas) {
                // canvas is the final rendered <canvas> element
                var imgData = canvas.toDataURL("image/jpeg");
                var pdf = new jsPDF();

                pdf.addImage(imgData, 'JPEG', 10, 10);
                pdf.save("scoutbadge.pdf");
            }
          });
        });
        {% endfor %}
    });
  </script>

{% endblock %}
