{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}    	
<div class="container" >
 <h2 class="form-signin-heading">Please sign in</h2>
 <form class="form-signin">
    <input type="text" class="form-control" placeholder="Email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <label class="checkbox pull-left">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
    <a href="/registration/"" class="pull-right need-help">Register </a><span class="clearfix"></span>
</form>
</div>
{% endblock %}