{% block content %}
<div align="center">
	<form action="/registration/" method="post" style="margin: auto"> {% csrf_token %}
  	{{ wizard.management_form }}
		<label for="InputName" style="font-size: 32px">Select the workshops to attend.</label>

		<br>
		<div class="input-group" align="center">
			<label class="radio-inline" style="font-size: 16px">AM: </label>
			{{wizard.form.morning_subject}}
			<label class="radio-inline" style="font-size: 16px">PM: </label>
			{{wizard.form.evening_subject}}
		</div>

		<br>

		<input type="submit" name="submit" id="submit" value="Next" class="btn btn-primary">

		<br>
		<br>

	</form>
</div>
{% endblock %}
