{% extends "sedUI/base/header.html" %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
		<!--Scout Registration-->
    	<div>
			<h3> Scout Registration </h3>
			<p>ajskdl;fj;asdjfkl;asjdfj;asjdfkjakls;djf;kjaskdfj;asjdfjk;askjdklfjklasdjf;jasdkfj</p>
			<a class="btn btn-primary btn-lg" href="/registration_scout/" role="button">Register Scout</a>
	  	</div>
	  	<!--Volunteer Registration-->
	  	<div>
			<h3> Volunteer Registration </h3>
			<p>ajskdl;fj;asdjfkl;asjdfj;asjdfkjakls;djf;kjaskdfj;asjdfjk;askjdklfjklasdjf;jasdkfj</p>
			<a class="btn btn-primary btn-lg" href="/registration_volunteer/" role="button">Register Volunteer</a>
	  	</div>
    </div>
  </div>
</div>
{% endblock %}
