{% extends "sedUI/base/header.html" %}
{% block content %}

	<div class="container">
		{% include "sedUI/includes/RegistationStatus5.html" %}

		<div align="center">
			<label style="margin: 0 auto; font-size: 32px">You are now registered!</label>
			<!-- TODO: If selected check show address an mail in date needed -->
			<!-- TODO: Create and display badge -->
			<br>
			<h3>Please print this badge and bring it with you to the event</h3>
			{% include "sedUI/includes/scoutbadge.html" %}
	</div>

{% endblock %}
