
{% block content %}
<form action="/registration/" method="post" style="width: 500px; margin: 0 auto"> {% csrf_token %}
	{{ wizard.management_form }}
	<div>
		<div class="form-group">
			<label for="InputFirstName">Scout Information</label>
			<div class="col-lg-16">
				{{wizard.form.first_name}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.last_name}}
			</div>
		</div>
		<!-- <div class="form-group">
			<label for="Gender" class="col-lg-66 control-label">Gender</label>
			<div class="col-lg-16">
				{{wizard.form.gender}}
			</div>
		</div> -->
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.affiliation}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.unit_number}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.phone}}
			</div>
		</div>

		<div class="form-group">
			<label for="EmergencyContact">Emergency Contact Information</label>
			<div class="col-lg-16">
				{{wizard.form.emergency_first_name}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.emergency_last_name}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.emergency_phone}}
			</div>
		</div>
		<div class="form-group">
			<label for="Medical">Medical Information</label>
			<div class="col-lg-16">
				{{wizard.form.medical_issues}} Medical Issues
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
			{{wizard.form.medical_notes}}
			</div>
		</div>
		<div class="form-group">
			<label for="Allergy">Allergy Information</label>
			<div class="col-lg-16">
				{{wizard.form.allergy_notes}} Notable Allergies
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
			{{wizard.form.allergy_issues}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-16">
				{{wizard.form.photo}} I approve the use of photos taken at the event.
			</div>
		</div>
	</div>
	<br>
	<div align="center">
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<div class="form-group">
			<div class="input-group">
				<!-- TODO: This data-sitekey has to be updated for release -->
				<div class="g-recaptcha" data-sitekey="6LccEhEUAAAAAExx5BF3N1Kz9ZzM9deDRg3A5Bsk"></div>
			</div>
		</div>

		<input type="submit" name="submit" id="submit" value="Next" class="btn btn-primary">
	</div>

</form>
{% endblock %}
