{% extends "sedUI/base/header.html" %}
{% block content %}
<div class="container">
<!-- <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </p> -->
{% if isOpen == "Opened" or request.user.is_superuser%}
{% include "sedUI/includes/registrationStatus.html"%}
<form action="/registration/" method="post" style="margin: 0 auto"> {% csrf_token %}
  {{ wizard.management_form }}
    {% if wizard.steps.current == "0" %}
        {% include "sedUI/pages/registrationCitizen.html" %}
    {% elif wizard.steps.current == "1" %}
        {% include "sedUI/pages/registrationRegister.html"%}
    {% elif wizard.steps.current == "2" %}
        {% include "sedUI/pages/registrationInfo.html" %}
    {% elif wizard.steps.current == "3" %}
        {% include "sedUI/pages/registrationSelection.html" %}
    {% elif wizard.steps.current == "4" %}
        {% include "sedUI/pages/registrationPayment.html" %}
    {% endif %}
</form>
{% elif isOpen == "ForcedClosed" %}
    <h4 align="center">Registration is down for maintance</h4>
{% else %}
    <h4 align="center">Registration is Closed at the moment</h4>
}
{% endif %}
</div>
{% endblock %}
