{% extends "sedUI/base/header.html" %}
{% block content %}
{% csrf_token %}
	<div class="container">
		<!-- Create Scout from form -->
	<!-- TODO Add Scout to database if fail show fail message to contact admins else show the page -->
	{{wizard.steps.current}}
		{% include "sedUI/includes/registrationStatus_completed.html"%}
		<div align="center">
			<label style="margin: 0 auto; font-size: 32px">You are now registered!</label>
			<br>
			<br>
			<p style="font-size:22px;">Prerequisites that must be completed before the course to complete it can be found under the <a href="/courses/">Course Page</a>.</p>
			<p style="font-size:16px;"><font color=red><i>Boy Scouts, please bring a Blue Card already signed by your unit Merit Badge leader. ONE WILL NOT BE PROVIDED</i></font></p>
			<a class="btn btn-primary btn-lg" href="/">Return Back to Home</a>
	</div>

{% endblock %}
