
{% block content %}
<form action="/registration/" method="post" style="margin: auto"> {% csrf_token %}
  {{ wizard.management_form }}
  <div align="center">
    <label for="InputName" style="font-size: 32px">Is a U.S. Citizen?</label>
    <br>
    <div class="input-group">
      {% for citizenship_option in wizard.form.citizenship %}
      <label class="radio-inline" style="font-size: 16px">{{citizenship_option}}</label>
      {% endfor %}
    </div>
  </div>
  <br>
  <input type="submit" name="submit" id="submit" value="Next" class="btn btn-primary">
</form>
{% endblock %}