{% extends "sedUI/base/header.html" %}
{% block content %}
{% csrf_token %}
	<div class="container">
		<!-- Create Scout from form -->
	<!-- TODO Add Scout to database if fail show fail message to contact admins else show the page -->
	{{wizard.steps.current}}
		{% include "sedUI/includes/registrationStatus_completed.html"%}
		<div align="center">
			<label style="margin: 0 auto; font-size: 32px">You are now registered!</label>
			<br>
			<h3>Please print this badge and bring it with you to the event</h3>
			{% include "sedUI/includes/scoutbadge.html" %}
	</div>

{% endblock %}
