{% extends "sedUI/base/header.html" %}
{% block content %}
	<div class="container">
			<div class="row">
				<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
					<div class="panel panel-info">
						<div class="panel-heading">
							<!-- Whole Name -->
							<h2  id="userName">{{scout.scout_first_name}} {{scout.scout_last_name}}</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class=" col-md-9 col-lg-9 ">
									<table class="table table-user-information">
										<tbody>
											<tr>
												<td>Scout ID:</td>
												<!-- User Type -->
												<td id="scout_id">{{scout.scout_id}}</td>
											</tr>
											<tr>
												<td>Scout Type:</td>
												<!-- User Type -->
												<td id="scout_type">{{scout.scout_type}}</td>
											</tr>
											<tr>
												<td>Unit Number:</td>
												<!-- User Type -->
												<td id="unit_number">{{scout.unit_number}}</td>
											</tr>
											<tr>
												<td>Payment:</td>
												<!-- User Type -->
												<td id="payment_method">{{session.payment_method}}</td>
											</tr>
											<tr>
												<td>Scout Status:</td>
												<td id="scout_status">{{scout.scout_status}}</td>
											</tr>
										</tbody>
									</table>
									<table class="table table-user-information">
										<thead>
											<h3> Workshops </h3>
										</thead>
										<tbody>
											<tr>
												<td>AM</td>
												<td id="workshop1">
													{{session.workshop1_id}}
												</td>
											</tr>
											{% if session.workshop2_id != none %}
											<tr>
												<td>PM</td>
												<!-- User Phone Number -->
												<td id="workshop2">
													{{session.workshop2_id}}
												</td>
											</tr>
											{% endif %}
										</tbody>
									</table>
									<table class="table table-user-information">
										<thead>
											<h3> Contact Information </h3>
										</thead>
										<tbody>
											<tr>
												<td>Email</td>
												<!-- User Email Format: <a href="mailto:edward.gedeon07@gmail.com">edward.gedeon07@gmail.com</a> -->
												<td id="scout_email">
													<a href="mailto:{{scout.scout_email}}?Subject=Scout%20Engineering%20Day" target="_top">{{scout.scout_email}}</a>
												</td>
											</tr>
											<tr>
												<td>Phone</td>
												<!-- User Phone Number -->
												<td id="scout_phone">
													<a href="tel:{{scout.scout_phone}}">{{scout.scout_phone}}</a>
												</td>
											</tr>
										</tbody>
									</table>
								<table class="table table-user-information">
									<thead>
										<h3> Emergency Contact </h3>
									</thead>
									<tbody>
										<tr>
											<td>Name</td>
											<!-- User Phone Number -->
											<td id="emergency_name">{{scout.emergency_first_name}} {{scout.emergency_last_name}}</td>
										</tr>

										<tr>
											<td>Email</td>
											<!-- User Email Address -->
											<td id="emergency_email">
												<a href="mailto:{{scout.emergency_email}}?Subject=Scout%20Engineering%20Day" target="_top">{{scout.emergency_email}}</a>
											</td>
										</tr>
										<tr>
											<td>Phone</td>
											<!-- User Phone Number -->
											<td id="emergency_phone">
												<a href="tel:{scout.emergency_phone}}">{{scout.emergency_phone}}</a>
											</td>
										</tr>
									</tbody>
								</table>
								{% if scout.scout_medical %}
								<table class="table table-user-information">
									<thead>
										<h3> Medical Conditions</h3>
									</thead>
									<tbody>
										<tr>
											<td id="scout_medical">{{scout.scout_medical}}</td>
										</tr>
									</tbody>
								</table>
								{% endif %}
								{% if scout.scout_allergy %}
								<table class="table table-user-information">
									<thead>
										<h3> Allergies </h3>
									</thead>
									<tbody>
										<tr>
											<td id="scout_allergy">{{scout.scout_allergy}}</td>
										</tr>
									</tbody>
								</table>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="container" align="center">
		<a id="scout_event_checkin" href="{% url 'scout_event_checkin/' scout.scout_id %}" data-original-title="Check out this user" data-toggle="tooltip" class="btn btn-lg btn-primary btn-action">Check Into Event</i></a>
		<a id="scout_event_checkout" href="{% url 'scout_event_checkout/' scout.scout_id %}" data-original-title="Check out this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-default btn-action">Check Out Of Event</i></a>
	</div>
	<br>
	<div class="container" align="center">
		<a id="scout_workshop_checkin" href="{% url 'scout_workshop_checkin/' scout.scout_id %}" data-original-title="Check in this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-info btn-action">Check Into Class</i></a>
		<a id="scout_workshop_completed" href="{% url 'scout_workshop_completed/' scout.scout_id %}" data-original-title="Approve this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-success btn-action">Class Completed</i></a>
		<a id="scout_workshop_checkout" href="{% url 'scout_workshop_checkout/' scout.scout_id %}" data-original-title="Check out this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-warning btn-action">Check Out Of Class</i></a>
	</div>

	<script>
		jQuery(document).ready(function(){
			if(document.getElementById("scout_status").innerText == "UNDERWAY" | document.getElementById("scout_status").innerText == "EVENT_CHECKOUT") {
				$('#scout_event_checkout').addClass('disabled');
				$('#scout_workshop_checkin').addClass('disabled');
				$('#scout_workshop_completed').addClass('disabled');
				$('#scout_workshop_checkout').addClass('disabled');
			}
			else if(document.getElementById("scout_status").innerText == "EVENT_CHECKIN" | document.getElementById("scout_status").innerText == "WORKSHOP1_CHECKOUT") {
				$('#scout_event_checkin').addClass('disabled');
				$('#scout_workshop_completed').addClass('disabled');
				$('#scout_workshop_checkout').addClass('disabled');
			}
			else if(document.getElementById("scout_status").innerText == "WORKSHOP1_CHECKIN" | document.getElementById("scout_status").innerText == "WORKSHOP2_CHECKIN") {
				$('#scout_event_checkout').addClass('disabled');
				$('#scout_event_checkin').addClass('disabled');
				$('#scout_workshop_checkin').addClass('disabled');
			}
			else if(document.getElementById("scout_status").innerText == "WORKSHOP2_CHECKOUT") {
				$('#scout_workshop_checkin').addClass('disabled');
				$('#scout_workshop_completed').addClass('disabled');
				$('#scout_workshop_checkout').addClass('disabled');
				$('#scout_event_checkin').addClass('disabled');
			}
		});
	</script>
{% endblock %}/
