{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}
	{% if all_scouts %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.13/af-2.1.3/datatables.min.css"/>

	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.13/af-2.1.3/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#scouttable').dataTable();
		});
	</script>
		<div class="container table-responsive">
			<table id="scouttable" class="table table-striped table-hover table-sm" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th align="left"><b>Scout ID</b></th>
						<th align="left"><b>First Name</b></th>
						<th align="left"><b>Last Name</b></th>
						<th align="left"><b>Scout Type</b></th>
						<th align="left"><b>Scout Status</b></th>
						<th align="left"></th>
					</tr>
				</thead>
				<tbody>
				{% for scout in all_scouts %}
					<tr >
						<td align="left">
							{{scout.scout_id}}
						</td>
						<td align="left" height="50px" vertical-align="bottom">
							{{scout.scout_first_name}}
						</td>
						<td align="left">
							{{scout.scout_last_name}}
						</td>
						<td align="left">
							{{scout.scout_type}}
						</td>
						<td align="left">
							{{scout.scout_status}}
						</td>
						<td align="left">
							<a class="btn btn-primary btn-sm" href="/scout_detail/{{scout.scout_id}}" role="button">User Page</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h4> You don't have any scouts </h4>
	{% endif %}
{% endblock %}
