{% extends "sedUI/base/header.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.13/af-2.1.3/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.13/af-2.1.3/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#workshoptable').dataTable();
		});
	</script>
	{% if all_workshop_custom %}
	<div class="container table-responsive section-to-print">
			<table id="workshoptable" class="table table-striped table-hover table-sm" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th align="left"><b>Workshop ID</b></th>
						<th align="left"><b>Course Name</b></th>
						<th align="left"><b>Instructor</b></th>
						<th align="left"><b>Time Slot</b></th>
						<th align="left"><b>Size</b></th>
						<th align="left"><b>Open Ceremony</b></th>
						<th align="left"><b>Location</b></th>
						<th align="left"><b>Open Status</b></th>
					</tr>
				</thead>
				<tbody>
				{% for workshop in all_workshop_custom %}
					{% if workshop.course_name != "None" %}
					<tr >
						<td align="left">
							{{workshop.workshop_id}}
						</td>
						<td align="left" height="50px" vertical-align="bottom">
							{{workshop.course_name}}
						</td>
						<td align="left">
							{{workshop.instructor_first_name}} {{workshop.instructor_last_name}}
						</td>
						<td align="left">
							{% if workshop.workshop_time == "AM" %}
							AM
							{% elif workshop.workshop_time == "PM" %}
							PM
							{% else %}
							FULL
							{% endif %}
						</td>
						<td align="left">
							{{workshop.scouts_count}} / {{workshop.workshop_size}}
						</td>
						<td align="left">
							{{workshop.open_ceremony}}
						</td>
						<td align="left">
							{{workshop.location_building}} {{workshop.location_room}}
						</td>
						<td align="left">
							{{workshop.workshop_open_status}}
							</td>
						<td align="left" class="donotprint">
							<a class="btn btn-primary btn-sm" href="/workshop_detail/{{workshop.workshop_id}}" role="button">Workshop Page</a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h4> Workshops hasn't been added to database </h4>
	{% endif %}
{% endblock %}
