
ol {
    padding-left: 0px;
} 

/*------------------NewNavBar-------------------*/
.navbar-header>a {
	width: 100%;
	height: 100%;
}

.banner-image1 {
	width: 20%;
	float: left;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
 
}

.banner-image2 {
	width: 10%;
	float: right;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/*------------------index-------------------*/
.jumbotron {
	padding: 30px;
}

/*------------------LoginOrRegister-------------------*/
.input-group-addon {
	
}